.pixelated {
    width: 40px;
    height: 40px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;          /* Firefox */
    image-rendering: -o-crisp-edges;            /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
    -ms-interpolation-mode: nearest-neighbor;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    background-color: #ff0000;
  }
.nav-link1{
    margin: 0px !important;
}